       /* =================================
   ========= website style =========
   ================================= */
body {
    background-image: url("https://raw.githubusercontent.com/simpledefens/simpledefens.github.io/main/images/simpledefenss.png");
    max-width: 100%;
    padding: 0px;
    margin: 60px;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("https://raw.githubusercontent.com/simpledefens/simpledefens.github.io/main/images/simpledefenss.png");
    max-width: 100%;
    padding: 10vw;
    margin: 60px;
}
}

.title, h1 {
    background-color: transparent;
    font-family: 'Quicksand';
    font-size: 10vw;
    color: #fff;
    text-align: center;
    text-shadow: 2px 0px #0392e7;
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    width: 95%%;
    }
    
p {
font-family: 'Nunito';
    font-size: 3.5vw;
    font-weight: bold;
    color: #fff;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    margin-left: 15%;
    width: 75%;
 }

@media only screen and (max-width: 1024px) {
   .title, h1 {
    background-color: transparent;
    font-family: 'Quicksand';
    font-size: 19.5vw;
    color: #fff;
    text-align: center;
    text-shadow: 3px 1px #0392e7;
    margin: auto;
    padding: 30px;
    width: 95%;
    }
    
p {
 font-family: 'Nunito';
 font-size: 5.5vw;
 font-weight: bold;
 color: #fff;
 border-radius: 20px;
 text-align: center;
 margin: auto;
 width: 80%;
 }
}   
    /* PGKNT Official LOGO for large screens */
      .logo, img {
    height: 102px;
    width: 102px;
    background-color: transparent;
    border-radius: 20%;
    float: left;
    margin-top: 60px;
}
    
a [href="https://simpledefens.github.io"] {
text-decoration: none;
}
   
 
.subtitle {
         font-family: 'Nunito';
         font-size: 4vw;
         color: #eeeeee;
         width: 100%;
         border-radius: 10px;
         }

@media only screen and (max-width: 1024px) {
.subtitle {
         font-family: 'Nunito';
         font-size: 3.8vw;
         color: #eeeeee;
         width: 100%;
         border-radius: 10px;
}
 
 /* PGKNT Official LOGO for mobile */

.logo, img {
    height: 120px;
    width: 120px;
    background-color: transparent;
    border-radius: 20%;
    float: left;
    margin-top: -100px;
    margin-left: -80px;
}
}



/* =================================
   ======== site decorations =======
   ================================= */
/* NavBar */
.navbar {
       background: #fff;
       position: fixed;
       width: 100%;
       margin: -60px -60px;
       opacity: 80%;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  margin: 20px;
  padding: 1px;
  background: transparent;
  font-family: 'Quicksand';
  font-size: 2.5vw;
  font-weight: bold;
  color: #b700c9;
  text-decoration: none;
  transition: text-decoration, text-decoration-color 1s;
   
}

li:hover, .lenk a:hover {
   text-decoration: underline;
   text-decoration-color: #c90076;
   background: transparent;
}

@media only screen and (max-width: 1024px) {
   .navbar {
       background: #fff;
       position: fixed;
       opacity: 80%;
       width: 100%;
       margin: -160px -160px;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a .lenk {
  display: block;
  margin: auto;
  padding: 12px;
  background: transparent;
  font-family: 'Quicksand';
  font-size: 3.5vw;
  font-weight: bold;
  color: #b700c9;
  text-decoration: none;
  text-align: center;
  transition: text-decoration, text-decoration-color 1s;
}
   
 li:hover, .lenk a:hover {
   text-decoration: underline;
   text-decoration-color: #c90076;
   background: transparent;
}  
}

/* buttons */

.button1, .button2, .button3, .button4 {
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 2.2vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 15vw;
    color: #fff;
    border-width: 50px;
    border-style: solid;
    border-color: #b0178f;
    background: #f7b5e8;
}

.button1 a:hover, .button2 a:hover, .button3 a:hover, .button4 a:hover {
    background-color: #ffffff;
    color: #b0178f;
    font-weight: bold;
    text-decoration: none;
 }

@media only screen and (max-width: 1024px) {


/* specific link buttons */

.button1 {
    border-radius: 10px;
    border-color: #b0178f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 7vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #f7b5e8;
    color: #ffffff;  
}

.button2 {
    border-radius: 10px;
    border-color: #b0178f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 7vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #f7b5e8;
    color: #ffffff;
}

.button3 {
    border-radius: 10px;
    border-color: #b0178f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 7vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #f7b5e8;
    color: #ffffff;
}

.button4 {
   border-radius: 10px;
   border-color: #b0178f;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-family: 'Nunito';
   font-size: 7vw;
   margin: 4px 2px;
   cursor: pointer;
   width: 100%;
   background-color: #f7b5e8;
    color: #ffffff; 
}
       
       
.button1 a:hover, .button2 a:hover, .button3 a:hover, .button4 a:hover {
    background-color: #ffffff;
    color: #b0178f;
    font-weight: bold;
    text-decoration: none;
 }
}
