/* =================================
   =========== page style ==========
   ================================= */
body {
    background-image: url("https://raw.githubusercontent.com/simpledefens/simpledefens.github.io/main/images/simpledefenss.png");
    max-width: 100%;
    padding: 0px;
    margin: 0px 0px;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("https://raw.githubusercontent.com/simpledefens/simpledefens.github.io/main/images/simpledefenss.png");
    max-width: 100%;
    padding: 0px;
    margin: 0px 0px;
}
}

.title, h1 {
    font-family: 'Quicksand';
    font-size: 6vw;
    color: #fff;
    border-color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 18px 0px;
    width: 100%;
    }
    
.desc {
    background-color: #ffffff;
    opacity: 55%;
    width: 100%;
}

p {
    font-family: 'Nunito';
    font-size: 2vw;
    font-weight: bold;
    color: #d600eb;
    text-align: justify;
    width: 95%;
    padding: 30px 0px;
    margin: 30px;
 }

@media only screen and (max-width: 1024px) {
   .title, h1 {
    font-family: 'Quicksand';
    font-size: 7vw;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding: 18px 0px;
    width: 100%;
   }
    
.desc {
    background-color: #ffffff;
    opacity: 55%;
    width: 100%;
    padding: 2px;
    font-family: 'Nunito';
    font-size: 3vw;
    font-weight: bold;
    text-align: justify;
    width: 100%;
}
   
   p {
    font-family: 'Nunito';
    font-size: 3vw;
    font-weight: bold;
    color: #d600eb;
    text-align: justify;
    width: 95%;
 }
}

/*For Videos Page*/
      .channel {
 font-family: 'Nunito';
 font-size: 2vw;
 font-weight: bold;
 color: #fff;
 background: transparent;
 }
}

.video {
   padding: 50px;
}

.vids {
 width: 560;
 height: 315;
}

@media only screen and (max-width: 1024px) {
.channel {
 font-family: 'Nunito';
 font-size: 3vw;
 font-weight: bold;
 color: #fff;
 background: transparent;
 }
}

.vids {
   width: 330;
   height: 240;
}

/*About Page button*/
 .priv-button {
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 4vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 5vw;
    background-color: #a504b5;
    color: #ffffff;  
}
   
br {
    display: block;
    margin-bottom: 3px;
    font-size:3px;
    line-height: 3px;
}

/*For Rate Page*/
.form container {
   width: 100%;
   height: auto;
   background: transparent;
}

.form {
    width: 620px;
    height: 720px;
    margin-left: 25%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

@media only screen and (max-width: 1024px) {
   .form {
    width: 95%;
    height: 1020px;
    margin-left: 25%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
   }
}
/* =================================
   ======== site decorations =======
   ================================= */
/* NavBar */
.navbar {
       background: #fff;
       position: fixed;
       width: 100%;
       padding: 1px;
       margin-top: -20px;
       opacity: 80%;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  margin: 20px;
  padding: 1px;
  background: transparent;
  font-family: 'Bahnschrift';
  font-size: 2.5vw;
  font-weight: bold;
  color: #b700c9;
  text-decoration: none;
  transition: text-decoration, text-decoration-color 1s;
   
}

li:hover, .lenk a:hover {
   text-decoration: underline;
   text-decoration-color: #c90076;
   background: transparent;
}

@media only screen and (max-width: 1024px) {
   .navbar {
       background: #fff;
       position: fixed;
       opacity: 80%;
       width: 100%;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a .lenk {
  display: block;
  margin: auto;
  padding: 12px;
  background: transparent;
  font-family: 'Bahnschrift';
  font-size: 3.5vw;
  font-weight: bold;
  color: #b700c9;
  text-decoration: none;
  text-align: center;
  transition: text-decoration, text-decoration-color 1s;
}
   
 li:hover, .lenk a:hover {
   text-decoration: underline;
   text-decoration-color: #c90076;
   background: transparent;
}  
}
