/* =================================
   =========== page style ==========
   ================================= */
body {
    background-image: url("https://raw.githubusercontent.com/PGKNTech/PGKNTech.github.io/main/images/PGKNT-BG.png");
    max-width: 100%;
    padding: 0px;
    margin: 60px;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("https://raw.githubusercontent.com/PGKNTech/PGKNTech.github.io/main/images/PGKNT-BG.png");
    max-width: 100%;
    padding: 10vw;
    margin: 60px;
}
}

.title, h1 {
    font-family: 'Montserrat';
    font-size: 6vw;
    color: #0392E7;
    background-color: #ffffff;
    text-align: center;
    text-shadow: 1px 0px #016ca8;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    }
    
.desc {
   background-color: #ffffff;
   width: 99.5%;
   border-radius: 10px;
}

p {
 font-family: 'Roboto Mono';
 font-size: 2vw;
 font-weight: bold;
 color: #39a1e0;
 text-align: center;
 width: 100%;
 padding: 3x, 3px;
 }

.channel {
 font-family: 'Roboto Mono';
 font-size: 2vw;
 font-weight: bold;
 color: #39a1e0;
 background: transparent;
 }
}

@media only screen and (max-width: 1024px) {
   .title, h1 {
    font-family: 'Montserrat';
    font-size: 7vw;
    color: #0392E7;
    text-align: center;
    text-shadow: 1px 0px #016ca8;
    margin: auto;
    padding: 30px;
    width: 95%;
   }
    
.desc {
   background-color: #ffffff;
   width: 99.5%;
   border-radius: 10px;
}
   
   p {
 font-family: 'Roboto Mono';
 font-size: 3vw;
 font-weight: bold;
 color: #39a1e0;
 text-align: left;
 width: 98%;
 padding: 3x, 3px;
 }

/*For Videos Page*/
.channel {
 font-family: 'Roboto Mono';
 font-size: 3vw;
 font-weight: bold;
 color: #39a1e0;
 background: transparent;
 }
}

/*About Page button*/
 .button1 {
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Heebo';
    font-size: 7vw;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    background-color: #0392E7;
    color: #ffffff;  
}
}

/*For Privacy Policy*/
   h2, h3 {
    font-family: 'Montserrat';
    font-size: 5vw;
    color: #0392E7;
    background-color: #ffffff;
    text-align: center;
    text-shadow: 1px 0px #016ca8;
}
}

   
br {
    display: block;
    margin-bottom: 3px;
    font-size:3px;
    line-height: 3px;
}

/* =================================
   ======== site decorations =======
   ================================= */
/* NavBar */
.navbar {
       background: #fff;
       position: fixed;
       width: 100%;
       margin: -60px -60px;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  margin: 20px;
  padding: 1px;
  background: transparent;
  font-family: arial;
  font-size: 2.5vw;
  font-weight: bold;
  color: #1276ff;
  text-decoration: none;
  transition: text-decoration, text-decoration-color 1s;
   
}

li:hover {
   text-decoration: underline;
   text-decoration-color: #016ca8;
   background: transparent;
}

@media only screen and (max-width: 1024px) {
   .navbar {
       background: #fff;
       position: fixed;
       width: 100%;
       margin: -160px -160px;
       }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  margin: auto;
  padding: 12px;
  background: transparent;
  font-family: arial;
  font-size: 3.5vw;
  font-weight: bold;
  color: #1276ff;
  text-decoration: none;
  text-align: center;
  transition: text-decoration, text-decoration-color 1s;
}
   
 li a:hover {
   text-decoration: underline;
   text-decoration-color: #016ca8;
   background: transparent;
}  
}

/*===(For screens larger than 300 pixels)==*/
@media only screen and (min-width: 300px) {
/* -Highlighting- */
   
    /* For Firefox */
    ::-moz-selection { 
  color: #016ca8;
  background: #0392E7;
}

    /* selection styles (does not support IE8 below) */
::selection {
  color: #016ca8;
  background: #0392E7;
}
}
