/* =================================
   ========= website style =========
   ================================= */
body {
    background-color: #000000;
    max-width: 100%;
    padding: 70px;
}

.title, h1 {
    font-family: 'Montserrat';
    font-size: 10vw;
    color: #0392E7;
    text-align: center;
    text-shadow: 1px 0px #016ca8;
    margin: auto;
    float: 50px;
    width: 85%;
    }
    
p {
 font-family: 'Roboto Mono';
 font-size: 3.5vw;
 color: #e3e3e3;
 text-align: right;
 width: 100%
 }
 
.subtitle {
         font-family: 'Heebo';
         font-size: 4vw;
         color: #bdbdbf;
         }

/* PGKNT Official LOGO */

.logo, img {
    height: 102px;
    width: 102px;
    background-color: transparent;
    float: right;
    margin-top: -17px;
}

/* =================================
   ========= site features =========
   ================================= */

/* buttons */

a  {
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Heebo';
  font-size: 2.2vw;
  margin: 4px 2px;
  cursor: pointer;
  width: 10vw;
}

a:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
 }

/* specific link buttons */

.button1 {
    background-color: #0392E7;
    color: #ffffff;  
    width: 15vw;  
}

.button2 {
    background-color: #016ca8;
    color: #ffffff;
}

.button3 {
    background-color: #004F8D;
    color: #ffffff;
}

.button4 {
    background-color: #dddddd;
    color: #888888; 
    width: 15vw;
}
   
/* -Highlighting- */
   
    /* For Firefox */
    ::-moz-selection { 
  color: #016ca8;
  background: #0392E7;
}

    /* (does not support IE8 and below) */
::selection {
  color: #016ca8;
  background: #0392E7;
}

.btn.btn-info
{
    font-family: Arial;
    font-size: 19px;
    text-decoration: none;
    background-color: #009688;
    padding: 1% 3%;
    color: white;
    margin: 4px;
    border-radius: 19px;
    margin-bottom:12px;
}
