/* =================================
   ========= website style =========
   ================================= */
body {
    background-color: #000000;
    max-width: 100%;
    padding: 70px;
}

.title, h1 {
    font-family: 'Montserrat';
    font-size: 10vw;
    color: #0392E7;
    text-align: center;
    text-shadow: 1px 0px #016ca8;
    margin: auto;
    float: 50px;
    width: 85%;
    }
    
p {
 font-family: 'Roboto Mono';
 font-size: 3.5vw;
 color: #e3e3e3;
 text-align: right;
 width: 100%
 }
 
.subtitle {
         font-family: 'Heebo';
         font-size: 4vw;
         color: #bdbdbf;
         }

/* PGKNT Official LOGO */

.logo, img {
    height: 102px;
    width: 102px;
    background-color: transparent;
    float: right;
    margin-top: -17px;
}

/* =================================
   ========= site features =========
   ================================= */

/* buttons */
 .button {
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Heebo';
  font-size: 2.2vw;
  margin: 4px 2px;
  cursor: pointer;
  width: 10vw;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;

/* specific link buttons */

a [href="https://pgkntech.github.io/googleternative-search/"] {
    background-color: #0392E7;
    color: #a8b2ba;
}

a [href="https://pgkntech.github.io/OnTime/"] {
    background-color: #016ca8;
    color: #a8b2ba;
}

a [href="https://pgkntech.github.io/priv_calc/"] {
    background-color: #004F8D;
    color: #a8b2ba;
}

a [href="https://pgkntech.github.io/PALE/"] {
    background-color: #dddddd;
    color: #888888;
}
   
/* -Highlighting- */
   
    /* For Firefox */
    ::-moz-selection { 
  color: red;
  background: yellow;
}

    /* (does not support IE8 and below) */
::selection {
  color: red;
  background: yellow;
}
