/* style */
body {
    background-color: #000000;
    max-width: 100%;
    padding: 70px;
}

.title, h1 {
    font-family: 'Montserrat';
    font-size: 10vw;
    color: #0526cc;
    text-align: center;
    text-shadow: 1px 0px #d40202;
    margin: auto;
    float: 50px;
    width: 85%;
    }
    
p {
 font-family: 'Roboto Mono';
 font-size: 3.5vw;
 color: #e3e3e3;
 text-align: right;
 width: 100%
 }
 
 .button {
  background-color: #4CAF50;
  border-radius: 10px;
  color: white;
  padding: 2vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Heebo';
  font-size: 2.2vw;
  margin: 4px 2px;
  cursor: pointer;
  width: 10vw;
}

.subtitle {
         font-family: 'Heebo';
         font-size: 4vw;
         color: #bdbdbf;
         }
/* logo design */

.logo, img {
    height: 102px;
    width: 102px;
    background-color: transparent;
    float: right;
    margin-top: -90px;
}
